{% extends 'base.html.twig' %}

{% block title %}Shiatsu & Co - Login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-login.css') }}">{% endblock %}

{% block body %}

    <div id="spacing-div"></div>
    <h1 class="lobster-align">Viens donc te connecter ici!👇</h1>
    <div id="spacing-div"></div>
    <div id="spacing-div"></div>
    <div class="d-flex justify-content-center mb-3">

        <div class="container">
            <div class="d-flex justify-content-center mb-3">
                {% if error %}
                    <div class="alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('account_login') }}" method="post">
                    <div class="row">
                        <div class="col">
                            <label for="username">Identifiant:</label>
                            <div class="col">
                                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <label for="password">Mot de passe:</label>
                            <div class="col">
                                <input type="password" id="password" name="_password"/>
                            </div>
                        </div>
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account"/>
                    #}


                    <div id="spacing-div"></div>

                    <div class="row">
                        <div class="col">
                            <input type="hidden" name="_target_path" value="{{ url('main') }}"/>
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}