{% extends 'base.html.twig' %}

{% block title %}Shiatsu & Co - Sign Up{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-register.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style-button.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style-form.css') }}">
{% endblock %}



{% block body %}
    <div id="spacing-div"></div>
    <h1 class="register">Une envie de rester en contact? Créez votre compte ici!</h1>
    <div id="spacing-div"></div>
    <div id="spacing-div"></div>
    <div class="d-flex justify-content-center mb-3">
        {{ form_start(accountFormView) }}

        <div class="container">
            <div class="row">
                <div class="col">
                    {{ form_label(accountFormView.username) }}
                    <div class="col no-padding">
                    {{ form_widget(accountFormView.username) }}
                    </div>
                    {{ form_errors(accountFormView.username) }}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    {{ form_label(accountFormView.firstname) }}
                    <div class="col no-padding">
                    {{ form_widget(accountFormView.firstname) }}
                    </div>
                    {{ form_errors(accountFormView.firstname) }}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    {{ form_label(accountFormView.lastname) }}
                    <div class="col no-padding">
                    {{ form_widget(accountFormView.lastname) }}
                    </div>
                    {{ form_errors(accountFormView.lastname) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    {{ form_label(accountFormView.email) }}
                    <div class="col no-padding">
                    {{ form_widget(accountFormView.email) }}
                    </div>
                    {{ form_errors(accountFormView.email) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    {{ form_label(accountFormView.adress) }}
                    <div class="col no-padding">
                    {{ form_widget(accountFormView.adress) }}
                    </div>
                    {{ form_errors(accountFormView.adress) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    {{ form_label(accountFormView.plainPassword) }}
                    <div class="col no-padding">
                    {{ form_widget(accountFormView.plainPassword) }}
                    </div>
                    {{ form_errors(accountFormView.plainPassword) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    {{ form_label(accountFormView.agreeTerms) }}

                    {{ form_widget(accountFormView.agreeTerms) }}

                    {{ form_errors(accountFormView.agreeTerms) }}
                </div>
            </div>
            <br>

            <div id="spacing-div"></div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary">S'enregistrer</button>
                </div>
            </div>
            <div id="spacing-div"></div>
        </div>
        {{ form_end(accountFormView) }}

    </div>
{% endblock %}
